<%- include("head") %>

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">ERROR <%= error.status %> : <%= error.title %> !</h1>
        <p class="col-md-8 fs-4 mt-4"><%= error.detail %></p>
        <form action="/failure" method="post">
            <button class="btn btn-warning btn-lg mt-5 px-5" type="submit">Try again</button>
        </form>
    </div>
</div>

<%- include("foot") %>
